@media(max-width: 1200px) {
	.site-header {
		.media-site-nav {
			display: flex;

			.search-field {
				cursor: pointer;
			}
		}
		.site-nav {
			display: none;
		}
	}
	.site-sub-header {
		.wrapper .sub-header-box .item span {
			font-size: 14px;
		}
	}
}

@media (max-width: 900px) {
	.site-header {
		.site-logo {
			height: 100px;
			.site-title {
				display: none;
			}
			.site-sub-title {
				display: none;
			}
		}
	}
}
